primary-length = 16

bump-sm = primary-length * 0.125
bump-lg = bump-sm * 2

background-dark = #AAA
background-light = #DDD
background-hover = background-light + 10%

shade-dark = #333
shade-medium = #555
shade-light = #EEE
shade-lightest = #FAFAFA

trim-dark = #AAA
trim-light = #EEE

color-selected = #393
color-primary = #393
color-darker = #272

color-gold = #daa82d
color-dark-gold = #b8860b

color-gray = #555
color-dark-gray = #333

color-check-passes = #0f0
color-check-fails = #f00

check-capacity-lightness = 60
color-check-capacity-10 = hsl(120, 100, check-capacity-lightness)
color-check-capacity-20 = hsl(108, 100, check-capacity-lightness)
color-check-capacity-30 = hsl(96, 100, check-capacity-lightness)
color-check-capacity-40 = hsl(84, 100, check-capacity-lightness)
color-check-capacity-50 = hsl(72, 100, check-capacity-lightness)
color-check-capacity-60 = hsl(60, 100, check-capacity-lightness)
color-check-capacity-70 = hsl(48, 100, check-capacity-lightness)
color-check-capacity-80 = hsl(36, 100, check-capacity-lightness)
color-check-capacity-90 = hsl(24, 100, check-capacity-lightness)
color-check-capacity-100 = hsl(12, 100, check-capacity-lightness)
color-check-fails= hsl(0, 100, check-capacity-lightness)