svg(width='0', height='0')
    symbol#icon-start(viewbox='0, 0, 32, 32')
        path(d='M6 4l20 12-20 12z')
    symbol#icon-pointer(viewbox='0, 0, 32, 32')
        path.light(d='M 0.46600704,4.762376 20.357009,16.246448 31.436998,6.693495 z')
        path.dark(d='M 0.45905004,4.774959 20.350051,16.259033 17.616946,30.631062 z')
    symbol#icon-box(viewbox='0, 0, 32, 32')
        path.light(d='M 15.640407,1.3912742 30.043385,8.6532439 15.640407,15.915213 1.2374288,8.6532436 z')
        path.med(d='m 30.052038,9.2870305 -14.031457,7.1102955 0,14.031456 14.031457,-7.110294 z')
        path.dark(d='m 1.2374384,9.2870305 14.0314566,7.1102955 0,14.031456 -14.0314566,-7.110294 z')
    symbol#icon-square(viewbox='0, 0, 32, 32')
        path.light(d='m 20.855201,0.20614955 0,7.99355995 -7.957389,0 0,2.8574245 7.957389,0 0,0.03617 0,7.957389 2.893595,0 0,-7.993559 7.957389,0 0,-2.8574245 -7.957389,0 0,-7.99355995 z')
        path.dark(d='m 0.51559748,8.0181896 0,23.3296174 23.29344552,0 0,-11.248854 -2.857426,0 0,8.380081 -17.5796582,0 0,-17.57966 8.1754712,0 0,-2.8811844 z')
    symbol#icon-plus(viewBox="0, 0, 32, 32")
        path(d="m 12.999313,0.939995 0,12.059317 -11.999313,0 0,5.941369 11.999313,0 0,12.059319 6.001373,0 0,-12.059319 11.999314,0 0,-5.941369 -11.999314,0 0,-12.059317 z")
    symbol#icon-neg(viewBox="0, 0, 32, 32")
        path(d="m 0.17860648,12.031403 31.70265052,0 0,7.322865 -31.70265052,0 z")
    symbol#icon-close(viewbox='0, 0, 32, 32')
        path(d='M 1,1 1,6.5312499 9.9732145,15.953124 1,25.374999 1,31 7.7857143,31 16.044643,22.328126 24.258928,31 31,31 31,25.421874 22.026785,16.046874 31,6.6249999 31,1 24.214285,1 16,9.6718749 7.7410714,1 1,1 z')
    symbol#icon-translate(viewbox='0, 0, 32, 32')
        path.light(d='m 15.024273,8.2720393 0,11.6987857 -10.2287815,5.880019 0.9800031,1.715006 10.1981564,-5.880018 10.198157,5.880018 0.980003,-1.715006 -10.167532,-5.818768 0,-11.7600367 z')
        path.med(d='m 15.943026,2.1470199 -2.817509,5.8800182 5.635018,0 -2.817509,-5.8800182 z M 3.6929881,24.44209 0.01797663,29.832107 6.5104969,29.280855 3.6929881,24.44209 z m 24.5613269,0 -2.81751,4.838765 6.492521,0.551252 -3.675011,-5.390017 z')
    symbol#icon-camera(viewbox='0, 0, 32, 32')
        path(d='M 7.61892,3.7807452 A 6.9743757,6.9743757 0 0 0 0.64501931,10.754645 6.9743757,6.9743757 0 0 0 3.7214753,16.535404 l 0,11.613394 20.9307237,0 0,-4.203061 1.326214,0.765731 5.548445,3.203889 0,-6.40665 0,-6.406652 -5.548445,3.20389 -1.326214,0.765731 0,-2.356963 A 6.9743757,6.9743757 0 0 0 28.018482,10.754645 6.9743757,6.9743757 0 0 0 21.043453,3.7807452 6.9743757,6.9743757 0 0 0 14.33457,8.874715 6.9743757,6.9743757 0 0 0 7.61892,3.7807452 Z m 6.708884,8.8538308 a 6.9743757,6.9743757 0 0 0 1.31268,2.522738 l -2.618595,0 a 6.9743757,6.9743757 0 0 0 1.305915,-2.522738 z')
    symbol#icon-await-a(viewBox="0, 0, 32, 32")
        path(d="M 8.3046875 16.222656 L 5.1308594 19.820312 L 1.9570312 23.419922 L 8.3046875 23.419922 L 14.652344 23.419922 L 11.478516 19.820312 L 8.3046875 16.222656 z")
    symbol#icon-await-b(viewBox="0, 0, 32, 32")
        path(d="M 15.517578 7.984375 L 12.240234 11.798828 L 8.9648438 15.613281 L 12.240234 19.427734 L 15.517578 23.242188 L 15.517578 15.613281 L 15.517578 7.984375 z ")
    symbol#icon-await-c(viewBox="0, 0, 32, 32")
        path(d="M 16.431641 7.984375 L 16.431641 15.613281 L 16.431641 23.242188 L 19.708984 19.427734 L 22.986328 15.613281 L 19.708984 11.798828 L 16.431641 7.984375 z ")
    symbol#icon-await-d(viewBox="0, 0, 32, 32")
        path(d="M 23.556641 16.222656 L 20.382812 19.820312 L 17.208984 23.419922 L 23.556641 23.419922 L 29.904297 23.419922 L 26.730469 19.820312 L 23.556641 16.222656 z ")
    symbol#icon-arrow-left(viewBox="0, 0, 32, 32")
        g(transform="rotate(180 16 16)")
            path(d="M 14.546875 0.3125 L 14.546875 8.1347656 L 2.1289062 8.1347656 L 2.1289062 23.880859 L 14.546875 23.880859 L 14.546875 31.703125 L 22.75 23.855469 L 30.953125 16.007812 L 22.75 8.1601562 L 14.546875 0.3125 z ")