doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge, chrome=1')
    link(rel='shortcut icon', type='image/png', href='assets/favicon.ico')
    title Bubble Pop React
    link(rel='stylesheet', type='text/css', href='css/core.css')
    script(type='text/javascript', src=js_libFile defer)
    script(type='text/javascript', src=js_appFile defer)
  body
    include ./_svg.jade
    .root-anchor
